/*RESET*/
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: Arial;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    color: #333;
}

p {
    font-size: 1em;
    color: #777;
}

/*CABEÇALHO*/
.cabecalho {
    width: 100%;
    float: left;
    padding: 55px 8%;
    background-image: linear-gradient(to bottom, rgb(255, 158, 93), rgb(252, 216, 57));
}

#pe {
    float: left;
    height: 60px;
    width: 80px;
}

/*MENU*/
.menu {
    width: 100%;
    float: left;
    background-color: #e97911;
    padding: 10px 8%;
    max-height: 40px;
    font-size: 16.7px;
}

.menu li {
    float: left;
}

.menu li a {
    color: white;
    margin-right: 50px;
    text-decoration: none;
}

.menu li a:hover {
    color: #d6290b;
    font-size: 1.1em;
}

/*   SOCIAL ICONS   */
.social-icons {
    float: right;
    color: white;
}

.social-icons a {
    color: #fff;
    float: left;
    margin-left: 20px;
}

/*BODY*/
body {
    background-image: linear-gradient(to right, rgb(245, 203, 14), rgb(255, 158, 93));
    font-size: medium;
    text-align: justify;
}

body p {
    color: black;
}

/* MAIN */
.content {
    float: left;
    margin: 30px 50px 30px 50px;
    padding: 30px;
}

.body2 {
    text-align: justify;
}

#ptitle {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    border-radius: 9px;
    margin-right: 40px;
}

#title {
    text-align: center;
    font-size: xx-large;
    margin: 0 0 20px 0;
}

.title2 {
    margin: 30px 0 30px 0;
    font-size: 30px;
    color: black;
    text-align: center;
}

#title2 {
    margin: 30px 0 30px 0;
    font-size: 30px;
    color: black;
    text-align: center;
}

a:link {
    color: rgb(255, 0, 0);
    background-color: transparent;
    /* text-decoration: none;*/
}

a:visited {
    color: rgb(184, 0, 184);
    background-color: transparent;
}

a:hover {
    color: rgb(255, 136, 0);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

.sp {
    border: 1.5px solid black;
    width: 500px;
    height: 270px;
    border-radius: 9px;
    margin: 30px 0 30px 310px;
}

.sp2 {
    border: 1.5px solid black;
    width: 500px;
    height: 270px;
    border-radius: 9px;
    margin: 30px 0 30px 375px;
}

#sp3 {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    border: 2px solid black;
}

.pre {
    text-align: center;
    font-size: 30px;
}

/*   RODAPÉ   */
.rodape {
    width: 100%;
    float: left;
    background-color: rgb(252, 216, 57);
    padding: 0.5px 8%;
}

.social-icons {
    margin: 0 0 20px 0;
}



@media screen and (max-width: 1000px) {
    #body {
        float: left;
        max-width: 400px;
        margin: 0;
    }

    #body h1 {
        float: left;
        margin: 20px 0 0 0;
    }

    #body p {
        float: left;
        margin: 10px 0 0 0;
    }
    #body pre {
        float: left;
        margin: 10px 0 0 0;
    }
    #body button {
        float: left;
        margin: 10px 0 0 0;
    }

    #body img {
        float: left;
        margin: 10px 0 10px 0;
    }

    #body2 {
        float: left;
        max-width: 400px;
        margin: 0;
    }

    #body2 h1 {
        float: left;
        margin: 20px 0 0 0;
    }

    #body2 p {
        float: left;
        margin: 10px 0 0 0;
    }

    #body2 img {
        float: left;
        margin: 10px 0 10px 0;
    }

    #body2 a {
        float: left;
        margin: 10px 0 10px 0;
    }
    #ptitle{
        float: left;
    }

}